* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 2em;
}
#books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.book {
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(151, 140, 189);
}
.book:hover {
  box-shadow: 2px 2px 10px rgb(122, 112, 156);
  transition: 0.3s;
  background-color: rgb(155, 69, 236);
}

/* Media queries */
@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }

  #books {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1em;
    padding: 0 1.5em;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.2em;
  }

  #books {
    grid-template-columns: 1fr;
    font-size: 0.9em;
    padding: 0 1em;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1em;
  }

  #books {
    font-size: 0.8em;
    padding: 0 0.8em;
  }
}
